{% extends 'layout.html' %}

{% block content %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <form action="" method="POST"> 
       <div class="form-group">
            <select class="btn pt-1 pb-1" id="mutual" name="mutual" required>
                <option value="0" selected>Mutual</option>
                <option value="OSDE">OSDE</option> 
                <option value="IOMA" >IOMA</option> 
            </select> 
        
            <select class="btn pt-1 pb-1" id="opcion" name="opcion" required>
                <option value="0" selected>Plan</option>
            </select> 
        </div>

        <div id="tarj-div">
            <div class="col-md-4 card card-body" id="tarjeta">
                <select class="btn pt-1 pb-1" id="servicio1" name="servicio1" required>
                    <option value="0" selected>Servicio 1</option>
                    <option value="01">Ecografia</option> 
                    <option value="02">Radiografia</option> 
                </select>
                <select class="btn pt-1 pb-1" id="servicio1" name="servicio1" required>
                    <option value="0" selected>PRACTICA</option>
                    <option value="01">Ecografia</option> 
                    <option value="02" >Radiografia</option> 
                </select>
                <div class="">
                    <table class="table table-striped table-bordered bg-white table-sm">
                        <thead>
                            <tr>
                                <td>Turnos</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>
                                <input type="radio" name="horario" value="Lun13:00"> Lunes 13:00HS 
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario" value="Lun13:15"> Lunes 13:15HS
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario" value="Lun13:30"> Lunes 13:30HS
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario" value="Lun13:45"> Lunes 13:45HS
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario" value="Lun14:00"> Lunes 14:00HS
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario" value="Lun14:15"> Lunes 14:15HS
                            </td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="col-md-4 card card-body" id="tarjeta">
                <select class="btn pt-1 pb-1" id="servicio1" name="servicio1" required>
                    <option value="0" selected>Servicio 1</option>
                    <option value="01">Ecografia</option> 
                    <option value="02">Radiografia</option> 
                </select>
                <select class="btn pt-1 pb-1" id="servicio1" name="servicio1" required>
                    <option value="0" selected>PRACTICA</option>
                    <option value="01">Ecografia</option> 
                    <option value="02" >Radiografia</option> 
                </select>
                <div class="">
                    <table class="table table-striped table-bordered bg-white table-sm">
                        <thead>
                            <tr>
                                <td>Turnos</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>
                                <input type="radio" name="horario" value="Lun13:00"> Lunes 13:00HS 
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario" value="Lun13:15"> Lunes 13:15HS
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario" value="Lun13:30"> Lunes 13:30HS
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario" value="Lun13:45"> Lunes 13:45HS
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario" value="Lun14:00"> Lunes 14:00HS
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario" value="Lun14:15"> Lunes 14:15HS
                            </td></tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-4 card card-body" id="tarjeta">
                <select class="btn pt-1 pb-1" id="servicio1" name="servicio1" required>
                    <option value="0" selected>Servicio 1</option>
                    <option value="01">Ecografia</option> 
                    <option value="02">Radiografia</option> 
                </select>
                <select class="btn pt-1 pb-1" id="servicio1" name="servicio1" required>
                    <option value="0" selected>PRACTICA</option>
                    <option value="01">Ecografia</option> 
                    <option value="02" >Radiografia</option> 
                </select>
                <div class="">
                    <table class="table table-striped table-bordered bg-white table-sm">
                        <thead>
                            <tr>
                                <td>Turnos</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>
                                <input type="radio" name="horario" value="Lun13:00"> Lunes 13:00HS 
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario" value="Lun13:15"> Lunes 13:15HS
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario" value="Lun13:30"> Lunes 13:30HS
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario" value="Lun13:45"> Lunes 13:45HS
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario" value="Lun14:00"> Lunes 14:00HS
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario" value="Lun14:15"> Lunes 14:15HS
                            </td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card card-body">
            <h4>Turnos seleccionados:</h4>
            <table></table>
        </div>

        <button type="submit" class="btn btn-primary">Confirmar turno</button>
        <a href="/turnos/asignacion_turnos/" class="btn btn-secondary">Cancelar</a>
        <a href="/" class="btn btn-danger">Salir</a>



        
      
    </form>


    <script>
    $(document).on("change","#mutual",function(){

    var opcionesOsde = "<option value='0' selected>PLAN</option><option value='1'>210</option><option value='2'>310</option>"
    var opcionesIoma = "<option value='0' selected>PLAN</option><option value='3'>ioma 1</option><option value='4'>ioma2</option>"
    var idMutual = $("#mutual option:selected").val();

    if(idMutual == "OSDE")
        $("#opcion").html(opcionesOsde);
    else if(idMutual == "IOMA")
        $("#opcion").html(opcionesIoma);
    });

    
    </script>

{% endblock %}