{% extends 'layout.html' %}

{% block content %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <script>

       // window.addEventListener("load", inicio);

       /* function inicio(){
            var dateControl = document.getElementById("fecha1");
            var date = dateControl.value;
            alert(date);
        }*/

        window.addEventListener('change', cambioFecha);

        function cambioFecha(){
            var dateControl = document.getElementById("fecha1");
            var date = dateControl.value;
            tabla = document.getElementById("llenarTabla");
            tabla.innerHTML = '<input type="radio" name="horario1" value="Lun13:00" id="radio1" onclick="mostrar(this, 1)"> Lunes 13:00HS</td></tr><tr><td><input type="radio" name="horario1" value="Lun13:15" id="radio2" onclick="mostrar(this, 1)"> Lunes 13:15HS</td></tr><tr><td><input type="radio" name="horario1" value="Lun13:30" id="radio3" onclick="mostrar(this, 1)"> Lunes 13:30HS</td></tr><tr><td><input type="radio" name="horario1" value="Lun13:45" id="radio4" onclick="mostrar(this, 1)"> Lunes 13:45HS</td></tr><tr><td><input type="radio" name="horario1" value="Lun14:00" id="radio5" onclick="mostrar(this, 1)"> Lunes 14:00HS</td></tr><tr><td><input type="radio" name="horario1" value="Lun14:15" id="radio6" onclick="mostrar(this, 1)"> Lunes 14:15HS'

        }

        var dateControl = document.querySelector('input[type="date"]');

        function mostrar(elem, num){
            if (num == 1){
                var newdiv = document.getElementById("turno-selec1");
            }
            if (num == 2){
                var newdiv = document.getElementById("turno-selec2");
            }
            if (num == 3){
                var newdiv = document.getElementById("turno-selec3");
            }
            newdiv.innerHTML = ""
            var turno = elem.value
            var h = document.createTextNode("Turno seleccionado: ")
            newdiv.appendChild(h);
            var t = document.createTextNode(turno);
            newdiv.appendChild(t);

            

        }
        

        
    </script>


    <form name="formulario" action="" method="POST"> 
       <div class="form-group">
            <select class="btn pt-1 pb-1" id="mutual" name="mutual" required>
                <option value="0" selected>Mutual</option>
                <option value="OSDE">OSDE</option> 
                <option value="IOMA" >IOMA</option> 
            </select> 
        
            <select class="btn pt-1 pb-1" id="opcion" name="opcion" required>
                <option value="0" selected>Plan</option>
            </select> 
        </div>

        <div id="tarj-div">
            <div class="col-md-4 card card-body" id="tarjeta">
                <select class="btn pt-1 pb-1" id="servicio1" name="servicio1" required>
                    <option value="0" selected>Servicio 1</option>
                    <option value="01">Ecografia</option> 
                    <option value="02">Radiografia</option> 
                </select>
                <select class="btn pt-1 pb-1" id="servicio1" name="servicio1" required>
                    <option value="0" selected>PRACTICA</option>
                    <option value="01">Ecografia</option> 
                    <option value="02" >Radiografia</option> 
                </select>
                <div class="">
                    <table class="table table-striped table-bordered bg-white table-sm">
                        <thead>
                            <tr>
                                <td>Turnos</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>
                                <label for="fecha1">Fecha:</label>

                                <input type="date" id="fecha1" name="fecha1">
                            </td></tr>
                            <tr><td>
                                Hora:
                            </td></tr>
                            <td><tr id="llenarTabla"></tr></td>
                            <!--<tr><td>
                                <input type="radio" name="horario1" value="Lun13:00" id="radio1" onclick="mostrar(this, 1)"> Lunes 13:00HS 
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario1" value="Lun13:15" id="radio2" onclick="mostrar(this, 1)"> Lunes 13:15HS
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario1" value="Lun13:30" id="radio3" onclick="mostrar(this, 1)"> Lunes 13:30HS
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario1" value="Lun13:45" id="radio4" onclick="mostrar(this, 1)"> Lunes 13:45HS
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario1" value="Lun14:00" id="radio5" onclick="mostrar(this, 1)"> Lunes 14:00HS
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario1" value="Lun14:15" id="radio6" onclick="mostrar(this, 1)"> Lunes 14:15HS
                            </td></tr>-->
                        </tbody>
                    </table>
                    <div id="turno-selec1"></div>
                                                    
                    
                </div>
            </div>
            
            <div class="col-md-4 card card-body" id="tarjeta">
                <select class="btn pt-1 pb-1" id="servicio1" name="servicio1" required>
                    <option value="0" selected>Servicio 1</option>
                    <option value="01">Ecografia</option> 
                    <option value="02">Radiografia</option> 
                </select>
                <select class="btn pt-1 pb-1" id="servicio1" name="servicio1" required>
                    <option value="0" selected>PRACTICA</option>
                    <option value="01">Ecografia</option> 
                    <option value="02" >Radiografia</option> 
                </select>
                <div class="">
                    <table class="table table-striped table-bordered bg-white table-sm">
                        <thead>
                            <tr>
                                <td>Turnos</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>
                                <input type="radio" name="horario2" value="Lun13:00" onclick="mostrar(this, 2)"> Lunes 13:00HS 
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario2" value="Lun13:15" onclick="mostrar(this, 2)"> Lunes 13:15HS
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario2" value="Lun13:30" onclick="mostrar(this, 2)"> Lunes 13:30HS
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario2" value="Lun13:45" onclick="mostrar(this, 2)"> Lunes 13:45HS
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario2" value="Lun14:00" onclick="mostrar(this, 2)"> Lunes 14:00HS
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario2" value="Lun14:15" onclick="mostrar(this, 2)"> Lunes 14:15HS
                            </td></tr>
                        </tbody>
                    </table>
                    <div id="turno-selec2"></div>
                </div>
            </div>

            <div class="col-md-4 card card-body" id="tarjeta">
                <select class="btn pt-1 pb-1" id="servicio1" name="servicio1" required>
                    <option value="0" selected>Servicio 1</option>
                    <option value="01">Ecografia</option> 
                    <option value="02">Radiografia</option> 
                </select>
                <select class="btn pt-1 pb-1" id="servicio1" name="servicio1" required>
                    <option value="0" selected>PRACTICA</option>
                    <option value="01">Ecografia</option> 
                    <option value="02" >Radiografia</option> 
                </select>
                <div class="">
                    <table class="table table-striped table-bordered bg-white table-sm">
                        <thead>
                            <tr>
                                <td>Turnos</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>
                                <input type="radio" name="horario3" value="Lun13:00" onclick="mostrar(this, 3)"> Lunes 13:00HS 
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario3" value="Lun13:15" onclick="mostrar(this, 3)"> Lunes 13:15HS
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario3" value="Lun13:30" onclick="mostrar(this, 3)"> Lunes 13:30HS
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario3" value="Lun13:45" onclick="mostrar(this, 3)"> Lunes 13:45HS
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario3" value="Lun14:00" onclick="mostrar(this, 3)"> Lunes 14:00HS
                            </td></tr>
                            <tr><td>
                                <input type="radio" name="horario3" value="Lun14:15" onclick="mostrar(this, 3)"> Lunes 14:15HS
                            </td></tr>
                        </tbody>
                    </table>
                    <div id="turno-selec3"></div>
                </div>
            </div>
        </div>
        

        <button type="submit" class="btn btn-primary">Confirmar turno</button>
        <a href="/turnos/asignacion_turnos/" class="btn btn-secondary">Cancelar</a>
        <a href="/" class="btn btn-danger">Salir</a>
        
      
    </form>


    <script>
    $(document).on("change","#mutual",function(){

    var opcionesOsde = "<option value='0' selected>PLAN</option><option value='1'>210</option><option value='2'>310</option>"
    var opcionesIoma = "<option value='0' selected>PLAN</option><option value='3'>ioma 1</option><option value='4'>ioma2</option>"
    var idMutual = $("#mutual option:selected").val();

    if(idMutual == "OSDE")
        $("#opcion").html(opcionesOsde);
    else if(idMutual == "IOMA")
        $("#opcion").html(opcionesIoma);
    });

    
    </script>

{% endblock %}