{% extends 'layout.html' %}
    
    {% block content %}
        <ul class="">
            <li>
                <a href="pacientes">PACIENTES</a>
            </li>
            <li>
                <a href="turnos">TURNOS</a>
            </li>
            <li>
                <a href="">RECEPCION</a>
            </li>
            <li>
                <a href="">DACTILOGRAFIA Y ENTREGA DE ESTUDIOS</a>
            </li>
            <li>
                <a href="">COMPRAS</a>            
            </li>
            <li>
                <a href="">FACTURACION</a>
            </li>
            <li>
                <a href="">CONTRATACIONES</a>
            </li>
            <li>
                <a href="">COBRANZAS</a>
            </li>
        </ul>
    {% endblock %}